body {
    font-family: 'Times new Roman', sans-serif;
    text-align: center;
    background-color: #ffffff;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.background {
    position: absolute; /* make it absolute to position it behind the container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    animation: change 100s infinite ease-in-out; /* set the z-index to -1 to position it behind the container */
  }
  @keyframes change {
    0%{
     background-image: url('sight/12.jpg');
    }
    8%{
     background-image: url('sight/11.jpg');
    }
    16%{
        background-image: url('sight/10.jpg');
       }
    24%{
        background-image: url('sight/9.jpg');
       }
    32%{
        background-image: url('sight/8.jpg');
       }
    40%{
        background-image: url('sight/7.jpg');
       }
    48%{
        background-image: url('sight/6.jpg');
       }
    56%{
        background-image: url('sight/4.jpg');
       }
    64%{
        background-image: url('sight/3.jpg');
       }
    72%{
        background-image: url('sight/2.jpg');
       }
     100%{
       background-image: url('sight/1.jpg');
    }
                                 
}
  .container {
    position: relative; /* make it relative to position it on top of the background */
    z-index: 1; /* set the z-index to 1 to position it on top of the background */
    padding: 20px; /* add some padding to the container */
    background-color: #fff; /* add a background color to the container (optional) */
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.5);
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s, transform 0.5s;
    background-color: hsla(0, 2%, 42%, 0.76); /* added transparency */
    backdrop-filter: blur(4px); 
    border-radius: 10px;
}

h1 {
    color: hsl(20, 100%, 99%);
    margin-bottom: 20px;
    font-size: 2.5em;
}

.description {
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 1.2em;
    max-width: 600px;
}

button {
    padding: 15px 30px;
    margin: 10px;
    background-color: #046eb4;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #333333;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.hidden {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#semester-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.semester-btn {
    margin: 5px;
}

.discipline-btn {
    margin: 5px;
}
.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    height: auto;     
    }
@media (max-width :480px){
    .logo{
        width: 150px;
    }
}
@media (min-width :480px){
    .logo{
        width: 250px;
    }
}